/* lightbox.css overrides for chrome extension */
.lb-prev:hover {
	background: url('chrome-extension://__MSG_@@extension_id__/images/prev.png') left 48% no-repeat !important;
}
.lb-next:hover {
	background: url('chrome-extension://__MSG_@@extension_id__/images/next.png') right 48% no-repeat !important;
}

/* gmail-lightbox */
body.gmail-lightbox-content {
	text-align: center;
	background-color: #222;
	background-image: url(https://mail-attachment.googleusercontent.com/attachment/u/images/bg-checker.png);
	color: white;
	font-family: 'Open Sans', 'lucida grande', tahoma, sans-serif;
}

h1.gmail-lightbox-content {
	color: #D0EB6A;
	font-family: 'Fredoka One', 'lucida grande', tahoma, sans-serif;
	font-size: 30px;
	font-weight: normal;
	height: 36px;
	letter-spacing: normal;
	line-height: 36px;
	text-align: center;
	text-shadow: black 0px -1px 0px;
	vertical-align: baseline;
}

a.gmail-lightbox-content{
	color: #8AD459;
	font-family: 'Open Sans', 'lucida grande', tahoma, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 22.75px;
	text-shadow: black 0px -1px 0px;
	text-decoration: none;
}

#main-container{

}
#lightbox-container{
	margin: 25px auto;
	position: relative;
	width: 80%;
	height: 80%;
}
#lightbox-container img{
	position: absolute;
	border: 3px solid white;
	-webkit-box-shadow: -5px -3px 9px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -5px -3px 9px rgba(50, 50, 50, 0.5);
	box-shadow:         -5px -3px 9px rgba(50, 50, 50, 0.5);
}