/* lightbox.css overrides for chrome extension */
.lb-prev:hover {
	background: url('chrome-extension://__MSG_@@extension_id__/images/prev.png') left 48% no-repeat !important;
}
.lb-next:hover {
	background: url('chrome-extension://__MSG_@@extension_id__/images/next.png') right 48% no-repeat !important;
}

/* Extenstion styles 
*************************
**/
body.modified{
	margin: 0;
	padding: 25px;
	background-color: #222;
	color: white;
	font-family: 'Open Sans', 'lucida grande', tahoma, sans-serif;
}

#content{
	position: relative;
	min-height: 100%;
}

#images{ 
	max-width: 500px;
	margin: 0 auto;
}

#images img{
	display: inline-block;
	max-width: 99px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid white;
}

#footer {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	bottom: 0;
	text-align: center;
}
#footer p{
	margin: 0;
}
#footer a{
	color: #8AD459;
	font-family: 'Open Sans', 'lucida grande', tahoma, sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 22.75px;
	text-shadow: black 0px -1px 0px;
	text-decoration: none;
}